.tic-tac-toe-container {
    text-align: center;
    margin: 20px;

    #tic-tac-toe-board {
        display: grid;
        grid-template-columns: repeat(3, 100px);
        gap: 10px;
        justify-content: center;
        margin: 20px auto;
    }

    .cell {
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff; // Fondo blanco para las celdas
        border: 2px solid #000000; // Borde negro para un buen contraste
        font-size: 2.5em; // Tamaño grande para las letras
        font-weight: bold; // Texto en negrita
        color: #000000; // Color de texto negro para asegurar visibilidad
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .cell:hover {
        background-color: #f0f0f0; // Cambiar el color al pasar el mouse
    }

    #reset-button {
        padding: 10px 20px;
        margin-top: 20px;
        background-color: #cb6ce6; // Color del botón
        color: #ffffff; // Texto blanco en el botón
        border: none;
        cursor: pointer;
        font-size: 1em;
    }

    #reset-button:hover {
        background-color: #ff66c4; // Color del botón al pasar el mouse
    }
}
