// Archivo: _variables.scss
// Este archivo contiene las variables de color para facilitar su reutilización en otros estilos
$background-color: #000000;
$text-color: #ffffff;
$primary-color: #cb6ce6;  // Morado del logo
$secondary-color: #ff66c4; // Rosa del logo
$header-background: #1c1c1c; // Color oscuro para header, aside y footer
$notification-background: #333333; // Fondo oscuro para la notificación
$notification-text-color: #ffffff; // Color del texto de la notificación