// Definir variables para colores
$background-color: #000500;
$image-border-color: #484848;
$image-hover-border-color: #fff;
$image-opacity: 0.5;
$image-hover-opacity: 1;
$spacing: 20px;
$image-padding: 5px;

// Estilos generales
* {
    margin: 0;
    padding: 0;
}

// Estilos para el body
body {
    background-color: $background-color;
}

// Estilos para la galería
.galeria {
    width: 100%;

    // Estilos para las imágenes dentro de la galería
    img {
        vertical-align: top;
        width: 400px;
        margin: $spacing;
        padding: $image-padding;
        opacity: $image-opacity;
        border: 1px solid $image-border-color;

        // Estilos para el hover
        &:hover {
            opacity: $image-hover-opacity;
            border: 1px solid $image-hover-border-color;
        }
    }
}
