// Archivo: variables.scss

$background-color: #000000; // Color de fondo general de la página
$text-color: #ffffff; // Color del texto general
$header-background: #222222; // Color de fondo del encabezado
$aside-background: #333333; // Fondo para el aside (diferente para distinguirlo)
$primary-color: #ff66c4; // Color principal para destacados
$secondary-color: #cb6ce6; // Color secundario (rosado) para hover y bordes
$notification-background: #444444; // Fondo de notificaciones
$notification-text-color: #ffffff; // Color del texto en las notificaciones
