// Archivo: variables.scss

$background-color: #000000;
$text-color: #ffffff;
$header-background: #222222;
$aside-background: #333333;
$primary-color: #ff66c4;
$secondary-color: #cb6ce6;
$notification-background: #444444;
$notification-text-color: #ffffff;

$background-dark: #1e1e1e; // Usado en fondos oscuros, como en paneles de cuenta
$button-primary: #cb6ce6;
$button-secondary: #888888;
$accent-color: #cb6ce6; // Color de acento para títulos y bordes
